/* CSS file for colorGame.html */

body {
  background-color: #232323;
  margin: 0;
  font-family: "Avenir", "Montserrat";
}

.square {
  background: purple;
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  /* Use transition to perform the fading effects of the squares */
  transition: background 0.6s;
  -webkit-transition: background 0.6s; /* Safari-friendly */
  -moz-transition: background 0.6s; /* Firefox-friendly */
}

#container {
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

#stripe {
  text-align: center;
  background: white;
  height: 30px
}

.selected {
  color: white;
  background: steelblue;
}

#colorDisplay {
  font-size: 200%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  /* Use transition to perform the fading effects of buttons */
  transition: all 0.3s;
  -webkit-transition: all 0.6s; /* Safari-friendly */
  -moz-transition: all 0.6s; /* Firefox-friendly */
  outline: none; /* Get rid of the blue outline whenever you clicked a button*/
}

#message {
  display: inline-block;
  width: 20%;
}

button:hover {
  color: white;
  background: steelblue;
}
